h1 {
    color: tomato;
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background: aliceblue;
    padding: 50px;
    border: solid lightseagreen 5px;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}